version: 1
formatters:
  default:
    format: "%(asctime)s [%(levelname)s] %(name)s: %(message)s"

handlers:
  file:
    class: logging.FileHandler
    filename: "/home/pi/loch_leigh_station/data/logs/station.log"
    level: DEBUG
    formatter: default

  console:
    class: logging.StreamHandler
    level: INFO
    formatter: default

root:
  level: DEBUG
  handlers: [file, console]